Repository blitzy-public-samples/trial-project-2-2ggkey, changes with the owners that .github/CODEOWNERS names for each.
All owners: @repo-admins, @frontend-team, @backend-team, @security-team, @devops-team, @database-team, @sre-team

Add public-samples/trial-project-2-2ggkey/infrastructure/terraform/environments/staging/main.tf
  infrastructure/terraform/environments/staging/main.tf
Owners: @repo-admins

Add public-samples/trial-project-2-2ggkey/infrastructure/terraform/modules/compute/main.tf
  infrastructure/terraform/modules/compute/main.tf
Owners: @repo-admins

Add public-samples/trial-project-2-2ggkey/infrastructure/terraform/modules/compute/outputs.tf
  infrastructure/terraform/modules/compute/outputs.tf
Owners: @repo-admins

Add public-samples/trial-project-2-2ggkey/infrastructure/terraform/modules/compute/variables.tf
  infrastructure/terraform/modules/compute/variables.tf
Owners: @repo-admins

Add public-samples/trial-project-2-2ggkey/infrastructure/terraform/modules/database/main.tf
  infrastructure/terraform/modules/database/main.tf
Owners: @repo-admins

Add public-samples/trial-project-2-2ggkey/infrastructure/terraform/modules/database/outputs.tf
  infrastructure/terraform/modules/database/outputs.tf
Owners: @repo-admins

Add public-samples/trial-project-2-2ggkey/infrastructure/terraform/modules/database/variables.tf
  infrastructure/terraform/modules/database/variables.tf
Owners: @repo-admins

Add public-samples/trial-project-2-2ggkey/infrastructure/terraform/modules/monitoring/main.tf
  infrastructure/terraform/modules/monitoring/main.tf
Owners: @repo-admins

Add public-samples/trial-project-2-2ggkey/infrastructure/terraform/modules/monitoring/outputs.tf
  infrastructure/terraform/modules/monitoring/outputs.tf
Owners: @repo-admins

Add public-samples/trial-project-2-2ggkey/infrastructure/terraform/modules/monitoring/variables.tf
  infrastructure/terraform/modules/monitoring/variables.tf
Owners: @repo-admins

Add public-samples/trial-project-2-2ggkey/infrastructure/terraform/modules/networking/main.tf
  infrastructure/terraform/modules/networking/main.tf
Owners: @repo-admins

Add public-samples/trial-project-2-2ggkey/infrastructure/terraform/modules/networking/outputs.tf
  infrastructure/terraform/modules/networking/outputs.tf
Owners: @repo-admins

Add public-samples/trial-project-2-2ggkey/infrastructure/terraform/modules/networking/variables.tf
  infrastructure/terraform/modules/networking/variables.tf
Owners: @repo-admins

Add public-samples/trial-project-2-2ggkey/src/backend/.env.example
  src/backend/.env.example
Owners: @backend-team

Add public-samples/trial-project-2-2ggkey/src/backend/README.md
  src/backend/README.md
Owners: @backend-team

Add public-samples/trial-project-2-2ggkey/src/backend/docker-compose.yml
  src/backend/docker-compose.yml
Owners: @backend-team

Add public-samples/trial-project-2-2ggkey/src/backend/api-gateway/Dockerfile
  src/backend/api-gateway/Dockerfile
Owners: @repo-admins

Add public-samples/trial-project-2-2ggkey/src/backend/api-gateway/README.md
  src/backend/api-gateway/README.md
Owners: @repo-admins

Add public-samples/trial-project-2-2ggkey/src/backend/api-gateway/kong.yml
  src/backend/api-gateway/kong.yml
Owners: @repo-admins

Add public-samples/trial-project-2-2ggkey/src/backend/api-gateway/scripts/init-kong.sh
  src/backend/api-gateway/scripts/init-kong.sh
Owners: @repo-admins

Add public-samples/trial-project-2-2ggkey/src/backend/api-gateway/scripts/setup-routes.sh
  src/backend/api-gateway/scripts/setup-routes.sh
Owners: @repo-admins

Add public-samples/trial-project-2-2ggkey/src/backend/auth-service/Dockerfile
  src/backend/auth-service/Dockerfile
Owners: @security-team, @backend-team

Add public-samples/trial-project-2-2ggkey/src/backend/auth-service/package.json
  src/backend/auth-service/package.json
Owners: @security-team, @backend-team

Add public-samples/trial-project-2-2ggkey/src/backend/auth-service/tsconfig.json
  src/backend/auth-service/tsconfig.json
Owners: @security-team, @backend-team

Add public-samples/trial-project-2-2ggkey/src/backend/auth-service/src/app.ts
  src/backend/auth-service/src/app.ts
Owners: @repo-admins

Add public-samples/trial-project-2-2ggkey/src/backend/auth-service/src/config/auth.config.ts
  src/backend/auth-service/src/config/auth.config.ts
Owners: @repo-admins

Add public-samples/trial-project-2-2ggkey/src/backend/auth-service/src/config/database.config.ts
  src/backend/auth-service/src/config/database.config.ts
Owners: @repo-admins

Add public-samples/trial-project-2-2ggkey/src/backend/auth-service/src/controllers/auth.controller.ts
  src/backend/auth-service/src/controllers/auth.controller.ts
Owners: @repo-admins

Add public-samples/trial-project-2-2ggkey/src/backend/auth-service/src/middleware/jwt.middleware.ts
  src/backend/auth-service/src/middleware/jwt.middleware.ts
Owners: @repo-admins

Add public-samples/trial-project-2-2ggkey/src/backend/auth-service/src/middleware/validation.middleware.ts
  src/backend/auth-service/src/middleware/validation.middleware.ts
Owners: @repo-admins

Add public-samples/trial-project-2-2ggkey/src/backend/auth-service/src/models/user.model.ts
  src/backend/auth-service/src/models/user.model.ts
Owners: @repo-admins

Add public-samples/trial-project-2-2ggkey/src/backend/auth-service/src/routes/auth.routes.ts
  src/backend/auth-service/src/routes/auth.routes.ts
Owners: @repo-admins

Add public-samples/trial-project-2-2ggkey/src/backend/auth-service/src/services/auth.service.ts
  src/backend/auth-service/src/services/auth.service.ts
Owners: @repo-admins

Add public-samples/trial-project-2-2ggkey/src/backend/auth-service/src/utils/encryption.util.ts
  src/backend/auth-service/src/utils/encryption.util.ts
Owners: @repo-admins

Add public-samples/trial-project-2-2ggkey/src/backend/auth-service/src/utils/jwt.util.ts
  src/backend/auth-service/src/utils/jwt.util.ts
Owners: @repo-admins

Add public-samples/trial-project-2-2ggkey/src/backend/auth-service/tests/auth.test.ts
  src/backend/auth-service/tests/auth.test.ts
Owners: @repo-admins

Add public-samples/trial-project-2-2ggkey/src/backend/auth-service/tests/jwt.test.ts
  src/backend/auth-service/tests/jwt.test.ts
Owners: @repo-admins

Add public-samples/trial-project-2-2ggkey/src/backend/database/init.sql
  src/backend/database/init.sql
Owners: @repo-admins

Add public-samples/trial-project-2-2ggkey/src/backend/database/migrations/V1__create_users.sql
  src/backend/database/migrations/V1__create_users.sql
Owners: @database-team, @backend-team

Add public-samples/trial-project-2-2ggkey/src/backend/database/migrations/V2__create_projects.sql
  src/backend/database/migrations/V2__create_projects.sql
Owners: @database-team, @backend-team

.github/CODEOWNERS:

# At least one admin approval required for unmatched paths
* @repo-admins

# Frontend team owns all web application code
# At least one frontend team member approval required
src/web/* @frontend-team

# Backend team owns all backend services code
# At least one backend team member approval required 
src/backend/* @backend-team

# Security and backend teams jointly own authentication service
# Requires approval from both teams for enhanced security oversight
src/backend/auth-service/* @security-team @backend-team

# DevOps team owns all infrastructure configuration
# At least one DevOps team member approval required
infrastructure/* @devops-team

# DevOps team owns all CI/CD workflow configurations
# At least one DevOps team member approval required
.github/workflows/* @devops-team

# Database and backend teams jointly own database migrations
# Requires approval from both teams for data integrity
src/backend/database/migrations/* @database-team @backend-team

# DevOps and SRE teams jointly own monitoring configuration
# Requires approval from both teams for observability standards
infrastructure/monitoring/* @devops-team @sre-team
